<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/receiver.css" />
<body class="initial">
	<div class="messages">
		<h1 class="pulse">Waiting for Messages...</h1>
	</div>
</body>

<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="https://www.gstatic.com/cast/js/receiver/1.0/cast_receiver.js"></script>
<script>
	$(function() {
		var receiver = new cast.receiver.Receiver("8a31e3e4-0fe4-4eaf-95b1-d63305426c12", ['audio-cast']),
			channelHandler = new cast.receiver.ChannelHandler('audio-cast'),
			$messages = $('.messages h1'),
			$body = $('body');

		channelHandler.addChannelFactory(
			receiver.createChannelFactory('audio-cast'));

		receiver.start();

		channelHandler.addEventListener(cast.receiver.Channel.EventType.MESSAGE, onMessage.bind(this));

		function onMessage(event) {
			$messages.removeClass("pulse");
			$messages.html(event.message.type);
		}
	});
</script>

</html>